# Unix - Conda - Pip

We run commands in CLI, e.g., Terminal, but here we are using Jupyter Notebook to demonstrate:

1. Output from commands
2. That when experiementing or developing programs in the notebook, you can avoid switching tools.
3. That you can install pacakges in the beginning of the notebook (e.g., Sagemaker) so it's clear what packages are used.

## Unix commands

### Basics

For some of the basic commands, you can run use the cell to run it directly:

In [1]:
pwd # print working directory

'/home/jmwolf/repos/repos_fork/MLE-8/assignments/mle-basictools/nb'

You always want to know "where you are" and how to look for help. Use `man` to display the user manual of any command that we can run on the terminal.

In [2]:
man pwd # press ESC to exit

Further, cell magic `%%bash` turns a cell into a bash script where you can run multiple lines (See more cell/line magics [here](https://ipython.readthedocs.io/en/stable/interactive/magics.html)).

In [5]:
%%bash
pwd
ls -lah # WE DO: What are those flags for?

/home/jmwolf/repos/repos_fork/MLE-8/assignments/mle-basictools/nb
total 52K
drwxrwxr-x 3 jmwolf jmwolf 4.0K Jun 21 20:16 .
drwxrwxr-x 5 jmwolf jmwolf 4.0K Jun 21 20:13 ..
drwxrwxr-x 2 jmwolf jmwolf 4.0K Jun 21 20:16 .ipynb_checkpoints
-rw-rw-r-- 1 jmwolf jmwolf  37K Jun 21 20:16 unix-conda-pip.ipynb

### Download a data file

Let's download some data from [Census Income Data Set](https://archive.ics.uci.edu/ml/datasets/Census+Income); but first we would like to make a new directory to store the data at the same level as `nb` directory.

In [9]:
%%bash
cd ..
# WE DO: make a new diretory called `dat` under the project root directory
pwd ls

/home/jmwolf/repos/repos_fork/MLE-8/assignments/mle-basictools

Let's confirm that we just created an empty directory `dat` using command `tree`. Not all command can be run in the cell directly, adding ! in front of command can do the trick:

In [10]:
!tree .. -L 2

..
├── dat
│   └── adult.csv
├── LICENSE
├── md
│   └── git-more.md
├── nb
│   └── unix-conda-pip.ipynb
└── README.md

3 directories, 5 files

In [11]:
# download a csv file
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data -O ../dat/adult.csv

--2022-06-21 20:19:42--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [application/x-httpd-php]
Saving to: ‘../dat/adult.csv’

../dat/adult.csv    100%[===================>]   3.79M   899KB/s    in 6.0s

2022-06-21 20:19:48 (648 KB/s) - ‘../dat/adult.csv’ saved [3974305/3974305]

In [12]:
!tree .. -L 2 # check again

..
├── dat
│   └── adult.csv
├── LICENSE
├── md
│   └── git-more.md
├── nb
│   └── unix-conda-pip.ipynb
└── README.md

3 directories, 5 files

### Inspect data

Let's inspect first 10 lines of data:

In [13]:
!head ../dat/adult.csv

39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
50, Self-emp-not-inc, 83311, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 13, United-States, <=50K
38, Private, 215646, HS-grad, 9, Divorced, Handlers-cleaners, Not-in-family, White, Male, 0, 0, 40, United-States, <=50K
53, Private, 234721, 11th, 7, Married-civ-spouse, Handlers-cleaners, Husband, Black, Male, 0, 0, 40, United-States, <=50K
28, Private, 338409, Bachelors, 13, Married-civ-spouse, Prof-specialty, Wife, Black, Female, 0, 0, 40, Cuba, <=50K
37, Private, 284582, Masters, 14, Married-civ-spouse, Exec-managerial, Wife, White, Female, 0, 0, 40, United-States, <=50K
49, Private, 160187, 9th, 5, Married-spouse-absent, Other-service, Not-in-family, Black, Female, 0, 0, 16, Jamaica, <=50K
52, Self-emp-not-inc, 209642, HS-grad, 9, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 45, United-States, >50K
31, Private, 45781, Masters, 14, Never-married, Prof-specialty, Not-in-family, White, Female, 14084, 0, 50, United-States, >50K
42, Private, 159449, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 5178, 0, 40, United-States, >50K

How about the last 3 lines? ( wait, I only see 2 lines. what's wrong? )

In [18]:
!tail -n 4 ../dat/adult.csv

58, Private, 151910, HS-grad, 9, Widowed, Adm-clerical, Unmarried, White, Female, 0, 0, 40, United-States, <=50K
22, Private, 201490, HS-grad, 9, Never-married, Adm-clerical, Own-child, White, Male, 0, 0, 20, United-States, <=50K
52, Self-emp-inc, 287927, HS-grad, 9, Married-civ-spouse, Exec-managerial, Wife, White, Female, 15024, 0, 40, United-States, >50K

How many records are there?

In [19]:
!wc -l ../dat/adult.csv

32562 ../dat/adult.csv

Challenge: how many columns are there?

In [20]:
!head -1 ../dat/adult.csv | sed 's/[^,]//g' | wc -c

15

## Conda: environment manager + package manager

You might have heard about Anaconda / Miniconda / Miniforge:

- What is the difference between `conda` and `miniconda`? [An answer](https://stackoverflow.com/questions/45421163/anaconda-vs-miniconda).
- What is the difference between `miniconda` and `miniforge`? [An answer](https://stackoverflow.com/questions/60532678/what-is-the-difference-between-miniconda-and-miniforge).

Though Conda is considered both a package manager and an environment manager, we  focus on using it as the environment manager, and use `pip` as the package manager.

### Installation

First, install `miniconda` (Feel free to skip if you have already installed it, or any flavor of conda).

Run the following commands in terminal to download the lastest Miniconda distribution and install it (Mac Intel Book). 

    ```
    cd ~
    wget https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
    bash Miniconda3-latest-MacOSX-x86_64.sh
    ```

For M1 chip, install `miniforge` instead. If you are new to `brew`, following instructions [here](https://brew.sh) to install Homebrew first:

    ```
    brew install miniforge
    ```

Outputs from these installations are rather long, so we ask you to run it in a terminal window instead.

Confirm that the installation is successful:

In [21]:
%%bash
which conda  # where the executable conda is in my path?
conda -V     # which version of conda?
which python # where the executable python is in my path?
python -V    # what version of python?

/home/jmwolf/anaconda3/bin/conda
conda 4.13.0
/home/jmwolf/anaconda3/bin/python
Python 3.9.12

### Create a new env

Create a new conda environment named `py39_12` where you specify a python version to be 3.9.12. Note the last flag `--yes` to skip the confirmation prompt.

In [22]:
!conda create --name py39_12 python=3.9.12 --yes

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jmwolf/anaconda3/envs/py39_12

  added / updated specs:
    - python=3.9.12


The following NEW packages will be INSTALLED:

  _libgcc_mutex      pkgs/main/linux-64::_libgcc_mutex-0.1-main
  _openmp_mutex      pkgs/main/linux-64::_openmp_mutex-5.1-1_gnu
  ca-certificates    pkgs/main/linux-64::ca-certificates-2022.4.26-h06a4308_0
  certifi            pkgs/main/linux-64::certifi-2022.5.18.1-py39h06a4308_0
  ld_impl_linux-64   pkgs/main/linux-64::ld_impl_linux-64-2.38-h1181459_1
  libffi             pkgs/main/linux-64::libffi-3.3-he6710b0_2
  libgcc-ng          pkgs/main/linux-64::libgcc-ng-11.2.0-h1234567_1
  libgomp            pkgs/main/linux-64::libgomp-11.2.0-h1234567_1
  libstdcxx-ng       pkgs/main/linux-64::libstdcxx-ng-11.2.0-h1234567_1
  ncurses            pkgs/main/linux-64::ncurses-6.3-h7f8727e_2
  openssl            pkgs/main/linux-64::openssl-1.1.1o-h7f8727e_0
  pip                pkgs/main/linux-64::pip-21.2.4-py39h06a4308_0
  python             pkgs/main/linux-64::python-3.9.12-h12debd9_1
  readline           pkgs/main/linux-64::readline-8.1.2-h7f8727e_1
  setuptools         pkgs/main/linux-64::setuptools-61.2.0-py39h06a4308_0
  sqlite             pkgs/main/linux-64::sqlite-3.38.3-hc218d9a_0
  tk                 pkgs/main/linux-64::tk-8.6.12-h1ccaba5_0
  tzdata             pkgs/main/noarch::tzdata-2022a-hda174b7_0
  wheel              pkgs/main/noarch::wheel-0.37.1-pyhd3eb1b0_0
  xz                 pkgs/main/linux-64::xz-5.2.5-h7f8727e_1
  zlib               pkgs/main/linux-64::zlib-1.2.12-h7f8727e_2


Preparing transaction: done
Verifying transaction: done
Executing transaction: done
#
# To activate this environment, use
#
#     $ conda activate py39_12
#
# To deactivate an active environment, use
#
#     $ conda deactivate

In [23]:
# YOU CODE HERE 
# list all environments in conda
!conda env list

# conda environments:
#
base                  *  /home/jmwolf/anaconda3
mle-course               /home/jmwolf/anaconda3/envs/mle-course
py39_12                  /home/jmwolf/anaconda3/envs/py39_12

You shall see something like this:
```
# conda environments:
#
                         /Users/flora/miniforge3
                         /Users/flora/miniforge3/envs/tf38
base                  *  /usr/local/Caskroom/miniforge/base
py39                     /usr/local/Caskroom/miniforge/base/envs/py39
py39_12                  /usr/local/Caskroom/miniforge/base/envs/py39_12
```

### Activate an env

By default, you are under the `base` environment, to activate the new environement, run `conda activate py39_12` in terminal.

If you are using VS code, click on the top right button to switch python kernel. You will be prompted to install `ipykernel`, follow the instructions to install the package. Or you can run `source activate`, followed by 
`conda activate /usr/local/Caskroom/miniforge/base/envs/py39_12` in a cell. 

If you are using jupyter notebook on a localhost (by defaut 8888), you can restart the jupyter notebook after activating the new environment.

Now verify the python version:

In [24]:
%%bash

python --version
which python
conda env list

Python 3.9.12
/home/jmwolf/anaconda3/bin/python
# conda environments:
#
base                  *  /home/jmwolf/anaconda3
mle-course               /home/jmwolf/anaconda3/envs/mle-course
py39_12                  /home/jmwolf/anaconda3/envs/py39_12

<details>
<summary>Click to see how to add the Conda env to you jupyter notebook kernels</summary>

```
pip install ipykernel
python -m ipykernel install --user --name=py39_12
```

Next time you launch jupyter notebook, you will see `py39_12` as an option under Kernel/Change kernel.
</details>

In [27]:
%%bash

pip install ipykernel
python -m ipykernel install --user --name=py39_12

Requirement already satisfied: ipykernel in /home/jmwolf/anaconda3/lib/python3.9/site-packages (6.9.1)
Requirement already satisfied: nest-asyncio in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from ipykernel) (1.5.5)
Requirement already satisfied: traitlets<6.0,>=5.1.0 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from ipykernel) (5.1.1)
Requirement already satisfied: tornado<7.0,>=4.2 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from ipykernel) (6.1)
Requirement already satisfied: jupyter-client<8.0 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from ipykernel) (6.1.12)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from ipykernel) (1.5.1)
Requirement already satisfied: ipython>=7.23.1 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from ipykernel) (8.2.0)
Requirement already satisfied: matplotlib-inline<0.2.0,>=0.1.0 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from ipykernel) (0.1.2)
Requirement already satisfied: pygments>=2.4.0 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from ipython>=7.23.1->ipykernel) (2.11.2)
Requirement already satisfied: pexpect>4.3 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from ipython>=7.23.1->ipykernel) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from ipython>=7.23.1->ipykernel) (61.2.0)
Requirement already satisfied: backcall in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from ipython>=7.23.1->ipykernel) (0.2.0)
Requirement already satisfied: stack-data in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from ipython>=7.23.1->ipykernel) (0.2.0)
Requirement already satisfied: decorator in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from ipython>=7.23.1->ipykernel) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from ipython>=7.23.1->ipykernel) (3.0.20)
Requirement already satisfied: jedi>=0.16 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from ipython>=7.23.1->ipykernel) (0.18.1)
Requirement already satisfied: pickleshare in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from ipython>=7.23.1->ipykernel) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel) (0.8.3)
Requirement already satisfied: pyzmq>=13 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from jupyter-client<8.0->ipykernel) (22.3.0)
Requirement already satisfied: jupyter-core>=4.6.0 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from jupyter-client<8.0->ipykernel) (4.9.2)
Requirement already satisfied: python-dateutil>=2.1 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from jupyter-client<8.0->ipykernel) (2.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=7.23.1->ipykernel) (0.7.0)
Requirement already satisfied: wcwidth in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.23.1->ipykernel) (0.2.5)
Requirement already satisfied: six>=1.5 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.1->jupyter-client<8.0->ipykernel) (1.16.0)
Requirement already satisfied: pure-eval in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=7.23.1->ipykernel) (0.2.2)
Requirement already satisfied: executing in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=7.23.1->ipykernel) (0.8.3)
Requirement already satisfied: asttokens in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=7.23.1->ipykernel) (2.0.5)
Installed kernelspec py39_12 in /home/jmwolf/.local/share/jupyter/kernels/py39_12

### Delete an env

To keep a lean list of environments, we want to prune unused environements from time to time. Simply do the following
```
conda remove --name old_env --all --yes
```

## Pip: python package manager

We recommend to use pip as your python package installer/manager [(fun read on pip vs conda.)](https://stackoverflow.com/questions/20994716/what-is-the-difference-between-pip-and-conda) Note you don't have install pip explictly since it was done during the installation of miniconda/miniforge.

In [25]:
!which pip

/home/jmwolf/anaconda3/bin/pip

### Install package

We can certainly run `pip` commands the same way as earlier. Just for fun, let's try Jupyter line magic `%pip`. 

First make sure that we would like to have the most recent version of `pip` installed.

In [28]:
%pip install --upgrade pip

Requirement already satisfied: pip in /home/jmwolf/anaconda3/lib/python3.9/site-packages (21.2.4)
Collecting pip
  Downloading pip-22.1.2-py3-none-any.whl (2.1 MB)
     |████████████████████████████████| 2.1 MB 1.5 MB/s eta 0:00:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.2.4
    Uninstalling pip-21.2.4:
      Successfully uninstalled pip-21.2.4
Successfully installed pip-22.1.2
Note: you may need to restart the kernel to use updated packages.

In [29]:
%pip install numpy pandas

Requirement already satisfied: numpy in /home/jmwolf/anaconda3/lib/python3.9/site-packages (1.21.5)
Requirement already satisfied: pandas in /home/jmwolf/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /home/jmwolf/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Now you can use these packages:

In [30]:
# allow multiple outputs in a single cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [31]:
import numpy as np

# create a numpy array with random numbers
x = np.random.rand(10)
x.shape
x.reshape((5,-1))

(10,)

array([[0.81005643, 0.98993579],
       [0.17121814, 0.84907157],
       [0.3201857 , 0.24890086],
       [0.153836  , 0.78724121],
       [0.62072449, 0.66852954]])

In [32]:
%precision 3
x.reshape((5,-1))

'%.3f'

array([[0.81 , 0.99 ],
       [0.171, 0.849],
       [0.32 , 0.249],
       [0.154, 0.787],
       [0.621, 0.669]])

In [33]:
import pandas as pd
census_df = pd.read_csv(filepath_or_buffer='../dat/adult.csv', header = None)
census_df.head()
census_df.tail()
census_df.shape

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

(32561, 15)

### Uninstall packages

In [34]:
# Uninstall a package
%pip uninstall numpy pandas --yes

Found existing installation: numpy 1.21.5
Uninstalling numpy-1.21.5:
  Successfully uninstalled numpy-1.21.5
Found existing installation: pandas 1.4.2
Uninstalling pandas-1.4.2:
  Successfully uninstalled pandas-1.4.2
Note: you may need to restart the kernel to use updated packages.

In [35]:
%pip cache purge

Files removed: 2
Note: you may need to restart the kernel to use updated packages.